# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Ignore large media and model weights
Pickleball-Analytics/models/
Pickleball-Analytics/video_outputs/
Pickleball-Analytics/uploads/
*.pt
*.pth
*.mp4
*.gif
*.avi
*.mov

# Node environments
node_modules/
dist/
dist-ssr/
build/
.npm/

# Environment variables
.env
.env.*
.env.local

# OS files
.DS_Store
Thumbs.db
